busybox/**/*.o
busybox/**/*.cmd
busybox/**/lib.a
busybox/**/Config.in
busybox/**/Kbuild
busybox/include/bbconfigopts*.h
busybox/busybox
busybox/busybox.links
busybox/busybox_unstripped.map
busybox/busybox_unstripped.out
busybox/.config.old
busybox/.indent.pro
busybox/.kconfig.d
busybox/.kernelrelease
busybox/applets/applet_tables
busybox/applets/usage
busybox/applets/usage_pod
busybox/busybox_unstripped
busybox/include/NUM_APPLETS.h
busybox/include/applet_tables.h
busybox/include/applets.h
busybox/include/autoconf.h
busybox/include/config/
busybox/include/usage.h
busybox/include/usage_compressed.h
busybox/scripts/basic/docproc
busybox/scripts/basic/fixdep
busybox/scripts/basic/split-include
busybox/scripts/kconfig/conf
busybox/scripts/kconfig/lex.zconf.c
busybox/scripts/kconfig/zconf.hash.c
busybox/scripts/kconfig/zconf.tab.c
busybox.bin
files.tmp
initramfs.cpio
